@import "../../breakpoint.scss";

.layout {
  // background-color: aquamarine;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    // background: pink;
    max-width: 1280px;
  }
  @include md {
    // background: chocolate;
    max-width: 768px;
  }
  @include sm {
    // background: lightblue;
    max-width: 640px;
  }
  // @include xs {
  //   background: blueviolet;
  //   max-width: 480px;
  // }
  .content {
    // background-color: burlywood;
    height: calc(100vh - 100px);
    // flex: 1;
  }
}