@import '../../breakpoint.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  a {
    transition: all 0.6s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 50px;

    .logo {
      // font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
      }

      span {
        @include md {
          display: none;
        }

        // @include sm-and-up {
        //   display: none;
        // }

        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf5f3;
    height: 100%;

    @include md-lg {
      background-color: transparent;
    }

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;
        border-radius: 10px;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: #880a0a;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

      }
    }

    .register {
      background-color: #fece51;
      border-radius: 16px;
    }

    .menuIcon {
      display: none;
      z-index: 5000;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: block;
      }
    }

    .mobileMenu {
      position: absolute;
      background-color: #000;
      color: #fff;
      height: 100vh;
      top: 0;
      right: -50%;
      width: 50%;
      transition: all 1.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      z-index: 4000;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: block;
          border-bottom: 1px solid #fff;
          padding-left: 20px;
          padding-right: 20px;
        }


      }
    }
  }
}